<h1 class="text-center">Products</h1>

<div class="row">
  <% @products.each do |product| %>
    <div class="card" style="width: 18rem;">
      <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= product.name %></h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to 'Show', product, class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>


